/* unvisited link */
a.example:link {
  color: green;
}

/* visited link */
a.example:visited {
  color: lightgreen;
}

/* mouse over link */
a.example:hover {
  color: blue;
}

/* selected link */
a.example:active {
  color: yellow;
}

/* target element */
:target {
  border: 1px solid #D3D3D3;
  background-color: aqua;
  width: 500px;
}

a.tooltip_example:hover {
  color: green;
}

p.tooltip_example {
  display: none;
  background-color: yellow;
  width: 80px;
}

div.tooltip_example:hover p {
  display: block;
}

/* Enlarge link text on hover */

a.enlarge_on_hover:link {
  color:#ff0000;
}

a.enlarge_on_hover:visited {
  color:#0000ff;
}

a.enlarge_on_hover:hover {
  font-size:150%;
}

/* Change link font on hover */

a.font_on_hover:link {
  color:#ff0000;
}

a.font_on_hover:visited {
  color:#0000ff;
}

a.font_on_hover:hover {
  font-family:monospace;
}

/* Change link text decoration on hover */

a.dashed_on_hover:link {
  color:#0000ff;
}

a.dashed_on_hover:visited {
  color:#ff0000;
}

a.dashed_on_hover:hover {
  text-decoration: none;
}