p, li {
  font-family: Arial, monospace;
}

body {
  background-color: lightgrey;
}

div.box{
  border: 1px solid black;
  background-color: blue;
}

div.box-own-margin{
  background-color: blue;
  padding: 10px;
  margin: 10px;
  border: solid 5px crimson;
}

div.box-limited-width{
  border: 1px solid black;
  background-color: blue;
  width: 300px;
}

div.box-content-box{
  background-color: blue;
  padding: 10px;
  margin: 10px;
  border: solid 5px crimson;
  width: 250px;
  box-sizing: content-box;
}

div.box-border-box{
  background-color: blue;
  padding: 10px;
  margin: 10px;
  border: solid 5px crimson;
  width: 250px;
  box-sizing: border-box;
}


p.content {
  padding: 10px;
  border: solid 5px black;
  margin: 20px;
  background-color: magenta;
}
