input[type=text].login-form, input[type=password].login-form {
    width: 60%;
    height: 30px;
    padding: 6px 6px;
    margin: 12px 0;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type=text].search-form {
    width: 30%;
    height: 30px;
    border-radius: 4px;
    background-color: white;
    background-image: url('img/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
    transition: width 0.4s ease-in-out;
}

input[type=text].search-form:focus {
    width: 50%;
    background-color: lightskyblue;
}

input[type=text].search-form:hover {
    border-color: #cccccc;
}

input[type=text].email-validation:invalid {
    border: 3px solid red;
}

input[type=text].email-validation:valid {
    border: 1px solid green;
}

textarea.scroll-textarea {
    resize: none;
    overflow: scroll;
    width: 50%;
    height: 40px;
}

input[type=text].responsive-input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

/* TODO: make width to the end */
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide,
make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

