.bg-gradient {
  color: blue;
  width: 400px;
  height: 400px;
  background: linear-gradient(to right, red, yellow, green);
}

.bg-image {
  color: tomato;
  width: 100%;
  height: 400px;
  background-image: url("img/manule.jpg");
}

.bg-image-no-repeat {
  color: gold;
  width: 100%;
  height: 400px;
  background: url("img/manule.jpg") no-repeat;
}

.bg-image-scrolled {
    color: red;
    width: 100%;
    height: 200px;
    background-image: url("img/manule.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

div.contain-image{
    background-image: url("img/manule.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 120px;
    width: 150px;
}

div.cover-image{
    background-image: url("img/manule.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 120px;
    width: 150px;
}

div.shadow-simple {
    box-shadow: 10px 10px;
    background-color: #7fecff;
    height: 120px;
    width: 150px;
}

div.shadow-color {
    box-shadow: 10px 10px #888888;
    background-color: #7fecff;
    height: 120px;
    width: 150px;
}

div.blurred-shadow {
    box-shadow: 10px 10px 5px #888888;
    background-color: #7fecff;
    height: 120px;
    width: 150px;
}
